.icon-button-container {
  position: fixed;
  left: 0.5rem;

  color: white;
  background: none;
  border: none;
  outline: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 0.5rem;

  transition: 0.2s ease-in-out background;

  &:hover {
    background: #40414f;
  }
}
