.chat-item-row {
  display: flex;
  justify-content: center;
  color: rgb(217, 217, 227);
  padding: 1.5rem 0;
  width: 100%;
  text-wrap: wrap;
  line-height: 1.8rem;

  @media screen and (max-width: 760px) {
    width: 100%;
  }

  &.ai {
    background: #434654;
  }
}

.chat-item-container {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  width: 48rem;
}

.chat-thumbnail {
  padding: 1rem;
  border-radius: 0.2rem;

  &.user {
    background: #5f6abb;
  }
  &.ai {
    background: #5bc083;
  }
}

.chat-content {
  white-space: pre-wrap;
}
