@use '../../../style/lib.scss' as lib;

.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  & > label {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  & > input {
    @include lib.input();
    height: 38px;
  }
}
