@use '../../style/lib.scss' as lib;

.prompt-create-input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 30px 24px;
}

.button-group-container {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}
.button-group {
  display: flex;
  gap: 0.6rem;

  @media screen and (max-width: 565px) {
    width: 100%;
  }
}

.help-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}

.help-title {
  font-weight: 700;
}
.help-list {
  list-style: inside;
}
.help-item {
  line-height: 1.25rem;
}
