.help-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}

.help-title {
  font-weight: 700;
}
.help-list {
  list-style: inside;
}
.help-item {
  line-height: 1.25rem;
}
